<app-navbar (OnAddEmployee)="onAddEmployee()" (OnSearchEmployee)="onSearchEmployee($event)"></app-navbar>
<app-employee-list
  (OnEditEmployee)="onEditEmployee($event)"
  (OnDeleteEmployee)="onDeleteEmployee($event)"
  [errorMessage]="errorMessage"
  [employees]="employees"
></app-employee-list>
<app-employee-form
  #modal
  (OnAddEmployee)="addEmployee($event)"
  (OnEditEmployee)="editEmployee($event)"
></app-employee-form>
<app-employee-notification
  #notification
  [title]="'Delete Employee'"
  [message]="'Are you sure you want to delete employee?'"
  (OnOK)="onOK()"
>
</app-employee-notification>
